body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, 'Arial Narrow', sans-serif;
}

#menu   ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    margin: 0;
}

#menu   li  a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.resz1{
    margin: auto;
    width: 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tartalom1   li{
    list-style: url(kepek/nyilikon.png);
}

.tartalom2{
    list-style: url(kepek/nyilikon.png);
    border-right: 1px solid crimson;
    border-left: 1px solid crimson;
}

img{
    
    width: 100px;
}

.img{
    text-align: center;
}

.resz2{
    margin: auto;
    width: 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

#folyamatabra{
    width: 350px;
}

.tartalom3{
    text-align: left;
}

.tartalom3  h1{
    border-bottom: 1px solid crimson;
    text-align: left;
}

.resz3{
    margin: auto;
    width: 80%;
    max-width: 800px;
}

.resz3  h1{
    text-decoration: underline 3px solid crimson;
    text-align: center;
}

.resz3{
    text-align: center;
}

#elerhetosegek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.resz3  img{
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    #menu   ul{
        grid-template-columns: 1fr;
    }

    .resz1{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .tartalom2{
        list-style: url(kepek/nyilikon.png);
        border: 0;
    }

    .resz2{
        grid-template-columns: 1fr;
        width: 100%;
    }
}